.page-header
  = link_to daily_settings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to @daily_setting, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1= t 'editing_daily_setting'

= render 'form'
